* {
    margin:0;
    padding:0;
    -webkit-text-stroke-width: 0px;
    -moz-text-stroke-width: 0px;
    -o-text-stroke-width: 0px;
    -ms-text-stroke-width: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing:border-box;
}
body {
    font-family:"Arial";
    background-color:#f4f4f4;
    font-size: 12px;
    color: #333;
    height:100%;
    position:relative;
}
a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    blr:expression(this.onFocus=this.blur());
}
input,select,textarea {
    vertical-align:middle;
    width: auto;
    outline: none;
    border:0;    
}
select {
/*    appearance: normal;
    -webkit-appearance: none;
    -moz-appearance: none;*/
}
img {
    vertical-align:middle;
    border:0;
    outline:none;
}

div, p, dl, dt, dd, ul, ol, li, h1,h2,h3,h4,h5,h6 {
    display: block;
    width: auto; 
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing:0px;
    border: 0;
}
/*字体图标开始*/
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1539231422470'); /* IE9*/
  src: url('iconfont.eot?t=1539231422470#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABHQAAsAAAAAGwQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8vkm3Y21hcAAAAYAAAAD2AAAC6LbShldnbHlmAAACeAAADJoAABJceIKwXWhlYWQAAA8UAAAAMQAAADYS2yMxaGhlYQAAD0gAAAAgAAAAJAfQA6tobXR4AAAPaAAAABoAAABYV+T/7GxvY2EAAA+EAAAALgAAAC4zdC9EbWF4cAAAD7QAAAAfAAAAIAFAAPFuYW1lAAAP1AAAAUUAAAJtPlT+fXBvc3QAABEcAAAAtAAAAPJ1cT4XeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/s84gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDg8Y3h+jLnhfwNDDHMDwwmgMCNIDgBA2w3weJzlkk1uwkAMhb8hCbRpGvqH2HRdhYoN3IUjsICjcJQehAsgddX1yzHomxihbtoL1NYXaezI4/EzUAGFWZoS0heJbJ+OpiFeUA/xkg+fX3lwpFGliWq1mmuhtbba66BTv+mP5zOIa7bTytndz+yvllz97eod7/blxWHKo/8oGDFh5m6e3ckdDS+0PHHPmFu/5mbodvzHLf/FmvxJzeU0y6oEniRKgWeKRkHWW0WQd0JlQM5XgWdvbYOhZh3k3VEbWBk0D6wR6gKrhRZB7k6rwAqidUCusQ2sKtoF1hftAyuNDoE1R6cg73K/CbwH9MeA+hvr61oaAAB4nI1XDZQcVZV+972qV93VXX/dXVWTzvRMd9d01fxkZjJd3VXkb4aZBB35iTEhgIIeyJpkA4qBdbPEDSdZXA4EjqDHE1GPxBjChl3OgXjWX0wC6tGcoxNcxM1C8ChnEQlHd0HdZYFkKntfd0+cRPanu+rV+7nvvvvuu/e79xF29rdnj0qcxcQmfWSYEHBc6AEdRkGujkA0ATAOdUdpjFCvym2r4NSjplLl4tvw6TqWg7sMRat27Zn1gkE9o3fDXfpIfSSbyXVlu/r7Fw9MLvT9qK+PZeSe2U3FcKAIlC4cHHNG6P2ua/8ia+fUmpv8wfX73Nv6IkFL8McIOfsyu4X+I0mTIqmhXIFfNcCNowY0A4UbbIKhcKPgjoV2aI+5ELB19Z7VPbUjfaXZf75EdmVd9b6TXg5qWr7kuoHypQMwdYR+uF4q9R3p61mdrAxXyV3lMf5wOZeXONJ8duA9lUGYPEIIxbUvYqdYmYySZYTUwqY3AhOAq/pB07OFbhTX4Ypnhz3Qkslx7bA5Dr0QB34kj0AwDnEPuDqwz65fP1kcXv7A8tEJOAETo1gbLk6+U2eyf80WSresWbOFsS3f/d9p53W+d24Klqg3jrL/mP2IfhzPcj35ENlMtpLtqD2UqRL44j8KfuD5XuCJQ3RD1+mVUFS7EuMGJvCwDdyoDl5gV6pIqyD5KHhVvxHFvZLTC5W6Yzsc5ixAESN1p8Brf9LDjkg5c/YfSkzGv0QlfOT0tq5yuet9Fc6V91FDLuhwd04vyBuUruUfRBo9nU++mNKpxD7IOR/cpOq6+glJkhilPr2JS7KWrKgOD68aHq46pdJQqQTk/GaiZGBcUXBBhmZGobK4DO/OZbWvy2W9IGGfVNCf1959yU/ASKuAtmHAP2Wz5nW6rQEAZfhbR0EdTb45snJ4eOXIHYLrUOmO81rCPuWWnj9AHyOLSEimyFqyQfhO5PaA4nG34Cg6Rb2hxYxAbHl+hEYSi7IXwrqDVLWCXWlWqkrB5gVsol0Hlld1CyVQeKvtz7W54zo4cRSwTb9RrNvVMouFsNLAsurU307t7NYlaPBSyY5KzPTMQv/n3SBrQPJD4MlpCCHD8zyL3y9R5N2VzgCEdC+Akcoz1EED6CrcNo8G93zOv6Ja9tOoCebn4ypsDxoqZzB0kUyxL603nQXF5v69X3EnMgykzLgLU3R6zYONspGSeWbSgQm6eu1DC5ekkV+m0oTxtp5m2Pv/Dz2hzfy/9OTU23riF+iJX6AnTr+xAPVUkSIKTJIGlnpTn5zaWdI6emr2dPTk9Gd1+o56khcI+whB6EnJSyrQkJ7T057g8mo5SAMF6ucvqsJtQTN9gZ4WNPbv3Yd6kqTMii6YAtTTl5q9Rlrm2UkbLgZ6xbqHiktTjLJsOUKvEzYlcGc/207vJC7xEHdGsb+JjquDgh5aRwcE4WG1+fiy6RB3FrCHd+x4mGG5aI0nfzU3VktWrr+F0lvWr9/K2NbsIV5dM7zjAGMHdtx+gHW5yqFcbWwfDl8piK5cf0tn7Y+y79HXSIZkce2K5Vmodyu0Kjb7XnLPnuQe2LYHtr3U+WIPQaHPHmQX0a+SBYTk43yYd1nFrig2FrbXxOnNAIuX7cRM7P8AM/mFAgPJvyxMTsBgOvklmPQhPfk0bNWTvcXM3yx44eTCndqCjm9dyv6VGShLF6kgBl+FNsOJ4hA3IrFP2DwNKEyHNvDEXrOB0KZDCfGKKxYOV5DKGgEFMdtDOFsBiGICqJdhSCsBorcLZ48nr8symMePgynLyevHD5+W5dOH26Xc32yuaTYPrSvZf2d3r7O7AbpteLz1tUBTk+0CoTZi7VOqtknVgBkcWcwkryFLawZZnvlz6fThI2/L8ttHDp+WEJHitVG0Nr7UwvWh5FglJ3ndFlUbTKc0+ZqqaSoWEAjGATLuxMIn2VG2ghikl0wT4uL+LdxaBTdgoQowXIvIHFYwNluoA1ZF1I7iOsK1hf7htbyr6Udh7LhWHOEsByMoznocgwrGFLpvdBzj/Ojs9ZbjWHSf6TjmH3L6QbPHUjVlE6T0U7LGUxLozqvXwTq9VJAUnS+6IW1NnjcbubEIHPOPfGD2VvNgYQBUZTNcDhbiL7cU3QG4NnligwamWsgq9ZtV3trjd9kRNtHa42XvuEdxpGKP4kgDqA5hUGvigYrjREexRNSqBv4EtHeOaIA9qAmr8NjoOKXjQtDWdmevR8FQTLrPsgE1l/zMu3y7q8kpnpVPGcpmrqct0zAf0XKKmb5hkaJxqdCjXTnR2atg9c57/WtwNMXiMoBF4bJNilpw8gdNUNSbxxQtnzG1DckT1xK0anL2KfYU7hXNGj0vR6qIjSvJlWQj2Ub+CjvlYWhb8NyRemE7+TrXrmEcFnoRZo0dUQh/NPlzBDiDK5W2IsMBaM8QHe0ZHQrBokUxBm8kj9L+2Ud5CiDFoa6kUsrXeDqNVVEmT0O9bavJ0xhvnaQ4n1CMtnqf7tjzry+kvmD8ZbjqRcF0/gJz9T5BJ6jFnNn/ag111uoMdpicz1J49cvzp5Jyy3d+wCYxhxwjDRKTpWQFuRi1/S7yHsyQriHXYpZ0A/kwZko3ko9irrSD7CR3kDvJ3eRech/5DHma/JS8QH6FsNRGnbor0uPA99qwjD3Y74+DCFaIRxi2EIuGWglS7HtKvRlGY2F9TFmsjHEbw1jM7TgcBzwiAexOXPWURhgvDmOkKXg2HxM0BaPNxwtafJCmPha3HkFTbfMZq1VX4NKKwL32gsvAbhWYr6I5dMr2QA+g44Ttsh6twCTQ9Zr5Am9na8pchbKjCcLg0d03cKYa/OrbHzsly6cee/yUDGMjMmQNOYxATpJbDyupND/KU2mFAgfxa5f9rYEnObaM80f0/2kK/Apu4nKU5s8JOzqW5nu7eK1e41u4P1bjfiql8qBVvZHXsOxPpWDntbuvwSCDz++csm2XnUk5efLorLxKNjQmjcuvCIlR7svuCrmRAR7vWfvkLLyoaqmUpnYDA/GIF311OaS1lm2Z3Z1OfCkOfE30p7NqNz1HLmF6DJ+ToYFCZdPPplLXdJVKXeJN6ym3VHLFq/I76c5du5I3TZTMts32p43juyTCdiECuKR0QUzzSYAVbCIYgsygRsnJ5EXUY/nkSShznrx48ljyFsYV5dgxzE/k5K2pZDssvBe2Jm+zXWJ4HvmZugypObpjx5I3WZA8sjh5AXbiVUpCOX7OjrG1GGlRAlJASRRWYUEevE5YpXj3g6V/H7It4Rdmkst+z+7evHk3g4tv3fkXE/BnVyfPwOjVySfoHZt3U7p789THJic/1ub7DHuerUFf8/HuFCPfiAacujznRrkAsRqzPofKfTT2czWsY4pnQIG7XvvGUPVrSmizMN9kDygPvnn627L01O/f+DJPYZYGqQPJq8mrh1Kpx6HrpUcxszPZYtXOZQxVNTKzr2XeeL78c5rPA89nkl/fc2/yipqHbF6clwmF5BX0qKV/+XFYYWhPaCzzAaocUDJi7htFmtwIny8iFqdQ/rvYW2x763wGECneRd5L3o+oTOT5pzPv1CASoVSxCgomFzr4MXpX4IsLYVh3EVn9IHLDSLEdDMLoc3HocPRU0enYnZrnuzbHgaAZUXIieQlPuHTiBJTw5F46MdNOTmZm2slJ8hSzDMazpsHdolpv3qyndN3St5q4yeQMpoONJ6rAqoerUHjWoMYzOqXGsyY1foq4NHMQW9ojeM+5bf4KuCL7GbKembdU8oJOZaMcJGcMZHBc77XMqUWumebFbs2kuvZNWrm0xHqne7ZBt6EvAd00jQ/RbIg3i8yo3solf8P2MBvzwirqzmu2/9w7l7cV8JxdG+ZSNzZa37hx00h80/2U3n/TR+5j9vSZ2f1DS5ZctWRJYePG+rTN7vtIezAe2fSjB+j3QQxdtaS11l72G7aBLCRDaG86uHm8JeTbaY+IhAIZbREpoR37Aq+TGEKXmVKfU7szz6kp6xLTdc0HLUekBYMwHc3+ezQNG+iu66l5/S4KnwZLS/5T0yCjWeBY8EkR9JPbLSf5XTRN6XSEREjcvn//ku1nPWhNFiliHj+McZ1gzt428WBuy/Kf9ORRPplhvqPEPl7WhaRz0O3m2zJjbte6ldfEVT2CbxWKxaBYzAeNxupGA5bNNZtNbJo0n02sEXpFOgXlXM/soxIfLE2J/HIqk6NXyEMl+DfRSvLYzMJvuwflXkkHwSEo7gbBcXVj9wVtWJzJQT/kQU0N2bCwuw+0ggZGJqljFbS8qK/qZ373t0vkvwGxjV6mAAB4nGNgZGBgAOI8LsYJ8fw2Xxm4WRhA4PqT9/tg9P83/y1Y2JgbgFwOBiaQKABTyg1DAAAAeJxjYGRgYG7438AQwyLy/w0DAwsbA1AEBYgBAHaeBIR4nGNhYGBgEfn/hvkFAwMIszBQBwMAPgEEJgAAAAAAAABMAIoA6AGcAjACxgMEAx4DSgPSBEQEugVwBrYG+gcmB4YIKghgCKgJLgAAeJxjYGRgYBBjeMqgwAACTEDMBYQMDP/BfAYAI9kCMgB4nGWPTU7DMBCFX/oHpBKqqGCH5AViASj9EatuWFRq911036ZOmyqJI8et1ANwHo7ACTgC3IA78EgnmzaWx9+8eWNPANzgBx6O3y33kT1cMjtyDRe4F65TfxBukF+Em2jjVbhF/U3YxzOmwm10YXmD17hi9oR3YQ8dfAjXcI1P4Tr1L+EG+Vu4iTv8CrfQ8erCPuZeV7iNRy/2x1YvnF6p5UHFockikzm/gple75KFrdLqnGtbxCZTg6BfSVOdaVvdU+zXQ+ciFVmTqgmrOkmMyq3Z6tAFG+fyUa8XiR6EJuVYY/62xgKOcQWFJQ6MMUIYZIjK6Og7VWb0r7FDwl57Vj3N53RbFNT/c4UBAvTPXFO6stJ5Ok+BPV8bUnV0K27LnpQ0kV7NSRKyQl7WtlRC6gE2ZVeOEXpc0Yk/KGdI/wAJWm7IAAAAeJxtjt1SgzAUhLP8JJRWkdriaxRvfJ4U0uRgPdGBTJGnN1Qv3Yvdi51vZ0UiflWK/9UgQYoMOSQUCmxQYosdHvCICk+oscczDjiiwYtQA7G12sszaR5Ijs4sjgrrwy10zqjRae5cKP6yLS+aba9XSk13RGdfMdUczQ6UvU/TnK/WZtR5Tl9PbbXCfew/DY2erewN22vAWzoTy+9gOkcy8nGrnkI84uOFJfgPf9YsxA+CmjsR') format('woff'),
  url('iconfont.ttf?t=1539231422470') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1539231422470#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao:before { content: "\e602"; }
.icon-bianji:before { content: "\e604"; }
.icon-shezhi:before { content: "\e603"; }
.icon-gouwuche:before { content: "\e60a"; }
.icon-shanchu:before { content: "\e6d3"; }
.icon-shanchu1:before { content: "\e66a"; }
.icon-fangdajing:before { content: "\e605"; }
.icon-tianjia:before { content: "\e755"; }
.icon-qian:before { content: "\e68a"; }
.icon-xiangji:before { content: "\e7c6"; }
.icon-kttx:before { content: "\e628"; }
.icon-kttx1:before { content: "\e629"; }
.icon-icon:before { content: "\e669"; }
.icon-201:before { content: "\e632"; }
.icon-shandianpeisong:before { content: "\e600"; }
.icon-denglu:before { content: "\e617"; }
.icon-7:before { content: "\e601"; }
.icon-xin:before { content: "\e665"; }
.icon-yuechi:before { content: "\e60e"; }
.icon-xiajia:before { content: "\e631"; }
.icon-tubiaozhizuomoban:before { content: "\e607"; }
/*字体图标结束*/
/*首页幻灯片开始*/
.carousel-content{
  position: relative;
  display: inline-block;
}
.carousel{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius:10px;
}
.carousel li{
  float: left;
  position: absolute;
  display: none;
}
.carousel li,.carousel li img{
  width: 100%;
  height: 100%;
}
.img-index{
  position: absolute;
    bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-index li{
  float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: #999;
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
    color: #fff;
}
.img-index li.index{
      fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 37 37;
    stroke-dashoffset: 37;
    -webkit-transition: stroke-dashoffset 5s linear;
    transition: stroke-dashoffset 5s linear;
  border:2px solid #999;
  background-color:transparent;
}
/*.img-index li:hover{
  background-color: rgba(0,0,0,0.6);
}*/
.carousel-prev,.carousel-next{
  position: absolute;
  display: inline-block;
  top: 40%;
  cursor: pointer;
}
.carousel-prev{
  left: 0;
}
.carousel-next{
  right: 0;
}
/*首页幻灯片结束*/